/* ---------------------------------------- */
/* ---------- Index.php styles  ----------- */
/* ---------------------------------------- */

.index h1,
.single-sidebar h1,
.single-post h1 {
  font-weight: 800;
}

.index h2,
.single-sidebar h2 {
  font-weight: 600;
}

.theme-main > .container:first-child {
  margin-top: 6rem;
  @media (max-width: 991px) { margin-top: 8rem;}
  @media (max-width: 768px) { margin-top: 3rem; }
}

.theme-recent-article,
.theme-article,
.theme-sidebar-article {
  text-decoration: none!important;
}

.theme-recent-article img {
  max-height: 360px!important;
  height: 100%;
  object-fit: cover;
  object-position: center;
  @media (max-width: 991px) {
    object-fit: contain;
    height: auto;
  }
}

.theme-recent-article h2 {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  height: 6.1rem;
  margin: 0 auto .7rem auto;
  line-height: 1.2;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  @media (max-width: 991px) {
    height: 4.1rem;
    -webkit-line-clamp: 2;
  }
}

.theme-article h2 {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  height: 4.1rem;
  margin: 0 auto .7rem auto;
  line-height: 1.2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.theme-recent-article h2:hover,
.theme-article h2:hover,
.theme-sidebar-article h4:hover{
    color: $secondary;
}

.theme-recent-article-text {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  height: 7.1rem;
  margin: 0 auto 2rem auto;
  line-height: 1.2;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  @media (max-width: 991px) {
    height: 4.8rem;
    -webkit-line-clamp: 4;
  }
}

.theme-article-text {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  height: 4.8rem;
  margin: 0 auto 1rem auto;
  line-height: 1.2;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  @media (max-width: 991px) {
    height: 3.5rem;
    -webkit-line-clamp: 3;
  }
}

.theme-recent-article button {
  padding-left: 1rem;
  padding-right: 1rem;
}

.theme-article button {
  padding: 0;
}
